<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">




            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-television"></i>
                    <span class="nav-text">Module 3 <span class="badge badge-danger badge-xs ms-1">NEW</span> </span>
                </a>
                <ul aria-expanded="false">




                    <!-------------------------------------------THIS IS P1-1 sidebar------------------->

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">P1-1</a>
                        <ul aria-expanded="false">

                            <!-------------------------------------------Search forum controller------------------->

                            <li><a href="@Url.Action("PatientList", "PatientList")">Patient List</a></li>
                            <li><a href="@Url.Action("PatientListResult", "PatientList")">Patient List Result</a></li>


                        </ul>
                    </li>
                    
                    <!-------------------------------------------THIS IS P1-2 sidebar------------------->
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">P1-2</a>
                        <ul aria-expanded="false">
                            <li><a href="@Url.Action("Index", "Demo")">Control Panel</a></li>
                            <li><a href="@Url.Action("AlertTrigger", "AlertTrigger")">Alert Trigger System</a></li>
                            <li><a href="@Url.Action("Index", "Telegram")">Telegram Registration</a></li>
                            <li><a href="@Url.Action("Chat", "Chat")">Chat</a></li>
                            <li><a href="@Url.Action("Index", "Prescription")">Prescription</a></li>
                            <li><a href="@Url.Action("Index", "MessageTemplate")">Message Template</a></li>
                            <li><a href="@Url.Action("Index", "BiomarkerAlertConfig")">BiomarkerAlertConfig</a></li>

                        </ul>
                    </li>





                </ul>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
